# 引入基础依赖
-r requirements.txt

# docs
recommonmark
nbsphinx
sphinx-autobuild
sphinx-rtd-theme
sphinx-markdown-tables
sphinx-copybutton

# test
black==20.8b1
docformatter
isort==5.6.4
flake8
pytest
pytest-xdist

# tensorflow
tensorflow>=2.9.1
tensorflow_hub
tensorflow_text>=2.9.0
tensorboardX
tensorflow-estimator>=2.9.0

# optional
sentence_transformers==2.2.0
stanza
visdom
wandb
gensim
